attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
exceptiongroup==1.2.0
factory-boy==3.3.0
Faker==22.0.0
idna==3.6
iniconfig==2.0.0
packaging==23.2
pluggy==1.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.23
tomli==2.0.1
urllib3==2.1.0
